*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
body{
    background-color: black;
}
:root{
    --primary-color-orng: #E6533C;
}
/* shared styles */
.global-btn-1{
    background-color: var(--primary-color-orng);
    border-radius: 42px;
    color: white;
    border: 1px white solid;
    width: 224px;
    height: 50px;
    font-size: 18px;
}
.global-btn-2{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 42px;
    color: white;
    border: 1px white solid;
    width: 224px;
    height: 50px;
    font-size: 18px;
}
/* header */
header{
    background: linear-gradient(black, rgb(37, 37, 37));
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 0px 190px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    align-items: center;
    padding: 0px;
    height: 50px;
    border-radius: 38px;
}
nav p{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--primary-color-orng);
    border: 1px solid;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 47px;
    padding: 4px;
    border: 1px solid;
    border-color: rgba(46, 46, 46,.5) ;
    border-radius: 15px;
    align-items: center;
    height: 38px;
    

}
nav .home{
    background-color: var(--primary-color-orng);
    border-radius: 7px;
    padding: 4px;
    color: white;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 190px;
    gap: 90px;
    /* background: linear-gradient(black, rgb(37, 37, 37)); */
}
.banner-desc{
    width: 520px;
}
.banner h1{
    font-size: 78px;
    font-weight: 900;
}
.banner span{
    font-family: "Whisper", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 100px;
  color: var(--primary-color-orng);
}
.banner-desc p{
    color: grey;
}
.banner-desc button{
    margin-bottom: 10px;
}
.banner-img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 550px;
}
.banner-img button{
    height: 100px;
    width: 165px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-img button h3{
    font-size: 24px;
}
.banner-btn-1{
    position: absolute;
    transform: translate(10%, 290%);
}
.banner-btn-2{
    position: absolute;
    transform: translate(170%, 130%);
}
/* part 2 */
.pt2{
    text-align: center;
    margin: 50px 190px;
}
.pt2 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pt2 p{
    color: grey;
}
.pt2 h1{
    font-weight: 900;
    font-size: 48px;
}
.pt2 h4{
    font-size: 28px;
    color: var(--primary-color-orng);
}
.pt2 li img{
    border-radius: 50%;
    border: 4px solid grey;
}
/* part 3 */
.join-now{
    margin: 25px 190px;
    display: flex;
    justify-content: space-between;
    gap: 165px;
    background-color: rgba(46, 46, 46,.5);
    padding: 32px;
    border-radius: 18px;
}
.join-now desc{
    margin-left: 60px;
}
.join-now h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
}
.join-now p{
    color: grey;
    font-size: 14px;
    margin-bottom: 32px;
}
.join-now img{
    border-radius: 12px;
}
/* BMI calculator */
.bmi{
    text-align: center;
}
.bmi h1, .meet h1{
    font-size: 54px;
    font-weight: 900;
}
.bmi p, .meet p{
    color: gray;
}
.bmicalc{
    margin: 25px 190px;
    background-color: rgba(46, 46, 46, .5);
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}
.chart{
    margin: 50px 175px 130px 190px;
}
.chart h3{
    font-size: 20px;
}
table td{
    border: 1px grey solid;
    padding: 13px;
}
table{
    border: 1px grey solid;
    height: 215px;
    width: 310px;

}
.calc{
    margin-right: 190px;
    text-align: center;
    margin-top: 50px;
}
.inp{
    padding: 15px;
}
.inpF, .inpFp{
    background-color: rgba(46, 46, 46, .5);
    margin: 10px 7px;
    width: 280px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 6px;

}
.inpFp{
    width: 585px;
}
/* Meet our team */
.meet{
    text-align: center;
    margin: 25px 95px;
}
.team{
    background-color: rgba(46, 46, 46, .5);
    margin: 25px 190px;
    padding: 10px;
    border-radius: 20px;
}
.timg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.team img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
/* Footer */
footer{
    background-color: rgba(46, 46, 46, .5);
}
footer
.top{
    display: flex;
    justify-content: space-between;
    padding: ;
    margin: 10px 190px;
}
.desc p{
    color: grey;
    
}
.desc h1{
    font-size: 58px;
    font-weight: 900;
    font-style: italic;
    color: var(--primary-color-orng);
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: 4px;
    color: grey;
}
footer > p{
    text-align: center;
    color: grey;
}


